body, h1, h2, h3, h4, p, a, ul, li, span, .title {
    font-family: 'DM Sans', sans-serif;
}

h4.title {
    opacity: .4;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

.index-page .brand h1 {
    font-size: 50px;
}

.hero-btn {
    background-color: #FFD427;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
    box-shadow: none;
}

.hero-btn:hover {
    background-color: #ffb327;
    box-shadow: none;
    border:none;
    color:white;
}

.page-header {
    max-height: 800px;
}

.dl-btn{
    min-width: 220px;
    box-shadow: none;



}


.btn.btn-primary {
    background-color: #FFD427;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
    border: none;
    box-shadow: none;
}


.btn.btn-primary:hover {
    background-color: #ffb327;
    box-shadow: none;
}

.links-icon {
    color: black;
    font-size: 60px;
}

iframe {
width: 10px;
min-width: 100%;
*width: 100%;
}              

.responsive {
width: 100%;
height: 0;
padding-bottom: 56.25%;
position: relative;
}                        
.responsive iframe {
position: absolute;
width: 100%;
height: 100%;
}
 
